[submodule "todo-frontend"]
	path = todo-frontend
	url = git@github.com:EkaterinaCNW/todo-frontend.git
[submodule "todo-backend"]
	path = todo-backend
	url = git@github.com:EkaterinaCNW/todo-backend.git
